*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: pink;
}


.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 175px;
    width: 500px;
    background-color: #10101d;
    border-radius: 7px;
}

.container h2{
    margin: 20px 10px;
    color: white;
}



.searchbar button{
    float: right;
    margin-right: 20px;
    width: 50px;
    height: 30px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.searchbar button:hover{
    background-color: red;
}

input{
    background-color: #10101d;
    color: white;
    border-radius: 0px;
    border: none;
    outline: none;
    margin-left: 10px;
    /*border-bottom: 1px solid white;*/
    
}

.line{
    display: block;
    margin-left: 10px;
    border-bottom: 1px solid white;
    width: 400px;
    height: 4px;
    
}

.item{
    background-color: #191933;
    height: 35px;
    border-radius: 4px;
    width: 470px;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    
}

.item:last-of-type{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.item h2{
    font-size: 18px;

}

.icon{
    color: red;
    padding-right: 15px;
    cursor: pointer;
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateX(-150px);
    }

    to{
        opacity: 1;
    }
}



